{%  if this.getRecommendations() %}
    <div class="product-recommendations">
        <div class="product-recommendations-title">{{ this.getTitle() }}</div>
        {% for recommendation in this.getRecommendations() %}
            <div class="product-recommendation">
                <div class="product-recommendation-quote">
                    <span>"{{ recommendation.quote }}"</span>
                </div>
                <div class="product-recommendation-source">
                    <a href="{{ recommendation.source_link }}" target="_blank">{{ recommendation.source_name }}</a>
                </div>
            </div>
        {% endfor %}
    </div>
{% endif %}